<link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
<nav class="navbar navbar-light bg-success">{{> Menu}}</nav>
<div class="contain d-flex flex-column text-center justifycontent-center align-items-center">
<h1>{{producto}}</h1>
<img class="" style="width:450px; height:450px" src="/assets/img/{{producto}}.png"/>

<button id="btn" class="mt-2"><h2>COMPRAR</h2></button>
</div>
<style>
* {
margin: 0;
}
.contain {
background: #ece9e9;
height: 100vh;
}
</style>
<script>document.getElementById("btn").addEventListener("click", ()=>{
    alert("Se descontaron $20000 de su cuenta, Gracias!")})</script>