<link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
<nav class="navbar navbar-light bg-success">{{> Menu}}</nav>
<div class="contain d-flex flex-column text-center justifycontent-center align-items-center">
<h1>{{producto}}</h1>
<img class="" style="width:450px; height:450px" src="/assets/img/{{producto}}.png"/>
</div>
<style>
* {
margin: 0;
}
.contain {
background: #ece9e9;
height: 100vh;
}
</style>